---
import Discord from '@icons/Discord.astro';
import Instagram from '@icons/Instagram.astro';
import Mail from '@icons/Mail.astro';
import MapPin from '@components/icons/MapPin.astro';
import StackOverflow from '@icons/StackOverflow.astro';
import Telegram from '@icons/Telegram.astro';

import Sidebar from '@components/Sidebar.astro';

import { LINKS } from '@contracts';
---

<Sidebar showGradient>
  <details open>
    <summary
      class="hover:bg-black-pearl-975 cursor-pointer border-b border-b-big-stone px-6 py-1 text-sm font-semibold text-white hover:text-electric-lime"
    >
      Contacts
    </summary>

    <div class="border-b border-b-big-stone py-1">
      <ul class="text-lynch-300 flex flex-col gap-1 py-1 text-base">
        <li class="hover:bg-black-pearl-975 group hover:text-electric-lime">
          <a
            class="flex items-center gap-1 px-6 py-1 font-medium"
            href="mailto:jgutierrezcruz367@gmail.com?subject=[From%20JAGC]%20Hello%20Jaime!"
            rel="noopener noreferrer nofollow"
            aria-label="Email me at: jgutierrezcruz367@gmail.com"
          >
            <Mail width={18} height={18} className="group-hover:text-[#EA4335]" />
            <span>jgutierrezcruz367@gmail.com</span>
          </a>
        </li>
      </ul>
    </div>
  </details>

  <details open>
    <summary
      class="hover:bg-black-pearl-975 cursor-pointer border-b border-b-big-stone px-6 py-1 text-sm font-semibold text-white hover:text-electric-lime"
    >
      Location
    </summary>

    <div class="border-b border-b-big-stone py-1">
      <ul class="text-lynch-300 flex flex-col gap-1 py-1 text-base">
        <li class="hover:bg-black-pearl-975 group hover:text-electric-lime">
          <a
            class="flex items-center gap-1 px-6 py-1 font-medium"
            href={LINKS.MyLocation}
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="Based in Maldonado, Maldonado, Uruguay."
          >
            <MapPin width={18} height={18} className="group-hover:text-[#4285F4]" />
            <span>Maldonado, Uruguay</span>
            <img
              src="/assets/img/misc/UY.svg"
              width="30"
              class="invisible pl-1 group-hover:visible"
              alt="UY"
              aria-label="Uruguay flag"
            />
          </a>
        </li>
      </ul>
    </div>
  </details>

  <details open class="flex-1">
    <summary
      class="hover:bg-black-pearl-975 cursor-pointer border-b border-b-big-stone px-6 py-1 text-sm font-semibold text-white hover:text-electric-lime"
    >
      Find me also in
    </summary>

    <div class="py-1">
      <ul class="text-lynch-300 flex flex-col gap-1 py-1 text-base">
        <li class="hover:bg-black-pearl-975 group hover:text-electric-lime">
          <a
            class="flex items-center gap-1 px-6 py-1 font-medium"
            href={LINKS.Telegram}
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="Telegram"
          >
            <Telegram width={18} height={18} className="group-hover:text-[#26A5E4]" />
            <span>Telegram</span>
          </a>
        </li>

        <li class="hover:bg-black-pearl-975 group hover:text-electric-lime">
          <a
            class="flex items-center gap-1 px-6 py-1 font-medium"
            href={LINKS.Discord}
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="Discord"
          >
            <Discord width={18} height={18} className="group-hover:text-[#5865F2]" />
            <span>Discord</span>
          </a>
        </li>

        <li class="hover:bg-black-pearl-975 group hover:text-electric-lime">
          <a
            class="flex items-center gap-1 px-6 py-1 font-medium"
            href={LINKS.Instagram}
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="Instagram"
          >
            <Instagram width={18} height={18} className="group-hover:text-[#E4405F]" />
            <span>Instagram</span>
          </a>
        </li>

        <li class="hover:bg-black-pearl-975 group hover:text-electric-lime">
          <a
            class="flex items-center gap-1 px-6 py-1 font-medium"
            href={LINKS.StackOverflow}
            rel="noopener noreferrer nofollow"
            target="_blank"
            aria-label="StackOverflow"
          >
            <StackOverflow width={18} height={18} className="group-hover:text-[#F58025]" />
            <span>StackOverflow</span>
          </a>
        </li>
      </ul>
    </div>
  </details>
</Sidebar>
