---
import type { THeaderItemId, THeaderItem } from '@contracts';

const baseURL = import.meta.env.PROD ? `${import.meta.env.SITE}/` : import.meta.env.BASE_URL;

const navItems: THeaderItem[] = [
  { id: 'home', text: '_home', href: baseURL },
  { id: 'about', text: '_about-me', href: `${baseURL}about` },
  { id: 'projects', text: '_projects', href: `${baseURL}projects` }
];

interface Props {
  active?: THeaderItemId;
}

const { active = 'home' } = Astro.props;
---

<header
  class="z-50 flex max-h-14 min-h-14 w-full items-center border-b border-b-big-stone bg-transparent font-mono text-lynch-300 no-underline"
>
  <h4
    class="flex h-full w-72 items-center border-r border-r-big-stone pl-6 text-base font-semibold animate-duration-500 animate-ease-linear"
  >
    <a
      href="/"
      class="flex min-w-60 animate-fade-right items-center gap-2 transition-all duration-300 animate-duration-500 animate-ease-linear hover:text-jagc-400"
    >
      <img src="/favicon.svg" alt="Logo" class="h-9" alt="JAGC Logo" height="36" />
      jaime-gutierrez
    </a>
  </h4>

  <nav class="flex h-full flex-1 animate-fade-left animate-duration-500 animate-ease-linear">
    {
      navItems.map(({ id, href, text }) => (
        <a
          href={href}
          class:list={[
            'flex h-full items-center border-r border-r-big-stone px-2 text-lg font-medium no-underline transition-all duration-300 hover:bg-black-pearl-975 hover:text-jagc-400',
            { 'border-b-2 border-b-jagc-500 text-jagc-400': id === active }
          ]}
        >
          {text}
        </a>
      ))
    }

    <span class="flex flex-1 justify-end">
      <a
        href={`${baseURL}contact`}
        class:list={[
          'flex h-full items-center border-l border-l-big-stone pl-6 pr-6 text-lg font-medium no-underline transition-all duration-300 hover:bg-black-pearl-975 hover:text-jagc-400',
          { 'border-b-2 border-b-jagc-500 text-jagc-400': active === 'contact' }
        ]}>_contact-me</a
      >
    </span>
  </nav>
</header>
